body {margin:0;}
.header {
    margin:0;
    padding:0;
    width:100vw;
    height:120px;
    background-image:url("./BackgroundTile.PNG");
}
#usernameslot {font-size:16px}
input {margin-right:10px;}
img.imgaction {cursor:pointer;width:24px;}
span.imgactionfiller{display:inline-block;width:24px}
li:hover{background-color:#f0f0f0;}
menu {background-color:white;margin:0;padding:0;}
menu.li:hover {cursor:pointer}
.userdatalist{list-style-type:none;margin:0;padding:0;}
#actionbox ul {margin:0;padding:0;cursor:pointer;list-style-type:none;}
#customerlookup {
    position:absolute;
    width:auto;
    height:auto;
    max-height:80vh;
    overflow-y:scroll;
    top:20px;
    left:100px;
    background-color:white;
    z-index:100;
    margin:0;
    padding:0;
    border:2px solid black;    
}
#ticketlookup {
    position:absolute;
    width:auto;
    min-width:400px;
    height:auto;
    max-height:80vh;
    overflow-y:scroll;
    top:20px;
    left:100px;
    background-color:white;
    z-index:100;
    margin:0;
    padding:0;
    border:2px solid black;    
}
#joblookup {
    position:absolute;
    width:auto;
    height:auto;
    max-height:80vh;
    overflow-y:scroll;
    top:200px;
    left:100px;
    background-color:white;
    z-index:100;
    margin:0;
    padding:0;
    border:2px solid black;    
}
#operationlookup {
    position:absolute;
    width:auto;
    height:auto;
    max-height:80vh;
    overflow-y:scroll;
    top:200px;
    left:100px;
    background-color:white;
    z-index:100;
    margin:0;
    padding:0;
    border:2px solid black;    
}
#commenteditor {
    position:absolute;
    width:500px;
    height:50vh;
    overflow-y:scroll;
    top:200px;
    left:100px;
    background-color:white;
    z-index:100;
    margin:0;
    padding:20px;
    border:2px solid black;
}
#actionbox{
    position:absolute;
    width:auto;
    height:auto;
    background-color:white;
    z-index:100;
    margin:0;
    padding:0;
}
#shadow {
    top:0;
    left:0;
    position:absolute;
    width:100%;
    height:100%;
    background-color:black;
    opacity:0.1;
    z-index:90;
    margin:0;
    padding:0;
}
#loadingscreen {
    position:absolute;
    width:auto;
    height:auto;
    max-height:80vh;
    overflow-y:scroll;
    top:20px;
    left:10px;
    width:99vw;
    height:99vh;
    background-color:gray;
    z-index:100;
    margin:0;
    padding:0;
/*    border:2px solid black;    */
    opacity:.5;
}

input{border:1px dotted green;background-color:none;}
input:selected{border:2px solid black}
li > .imgaction {visibility:hidden}
li:hover > .imgaction {visibility:visible}
ul >li.row {list-style-type:none;}
ul {padding:0;margin:0}
li.row {cursor:pointer;}
span.col {width:100px;display:inline-block;}
#activeuser {display:block;}
.toolbar {float:right;margin-right:50px}
.JiraText {width:25em;overflow-x:hidden;text-overflow:ellipsis;white-space: nowrap;display:inline-block;}

textarea {height:1em;vertical-align:middle}
textarea:focus {height:4em;}
span.col-0 {width:15px;display:inline-block;margin-right:15px;}
span.col-1 {width:110px;display:inline-block;margin-right:10px;}
span.col-2 {width:100px;display:inline-block;margin-right:10px;}
span.col-3 {width:160px;display:inline-block;margin-right:10px;}
span.col-4 {width:80px;display:inline-block;margin-right:10px;}
span.col-5 {width:120px;display:inline-block;margin-right:10px;}
span.col-6 {width:120px;display:inline-block;margin-right:10px;}
.EXPAND span.col-7 {width:375px;display:inline-block;margin-right:10px;}
.EXPAND span.col-8 {width:300px;display:inline-block;margin-right:10px;}

.BASIC span.col-7 {width:60;display:inline-block;margin-right:10px;}
.BASIC span.col-8 {width:300px;display:inline-block;margin-right:10px;}

td {padding-right:8px;}
td.col-0 {width:15px;}
td.col-1 {width:110px;}
td.col-2 {width:100px;}
td.col-3 {width:160px;}
td.col-4 {width:80px;}
td.col-5 {width:120px;}
td.col-6 {width:120px;}
.EXPAND td.col-7 {width:375px;}
.EXPAND td.col-8 {width:300px;}

.BASIC td.col-7 {width:60px;}
.BASIC td.col-8 {width:300px;}

.bigbutton {
    width:150px;
    height:70px;
    background-image:url(./MenuOFF.gif);
    font-size:24px;
    text-align:center;
    padding-top:15px;
    margin-top:3px;
    cursor:pointer;
}
span.plusmoins {
    display:inline-block;
    width:20px;
    background-color:lightgreen;
    text-align:center;
    margin-right:5px;
    cursor:pointer;
}

input::placeholder{color:lightgray;}

.JiraPop {
    padding:5px;
    background-color:black;
    color:white;
    border:1px black solid;
}